<div class="well" style="background-color:rgba(10,70,125,0.9); !important">
	<center><h1 style="color:#FFFFFF">DC Answers</h1></center>
		&nbsp;
		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Who is the only character to be a member of both the Justice League 
and the Avengers?</h5>
			</div>
			<div class="panel-body">
				<center><b>Hawkeye</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Originally Superman was depicted as a:</h5>
			</div>
			<div class="panel-body">
				<center><b>Bald megalomaniac</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Bruce Wayne’s IQ is:</h5>
			</div>
			<div class="panel-body">
				<center><b>Above Albert Einstein (Over 180)</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Supervillain Snowflame gets his superpowers from what?</h5>
			</div>
			<div class="panel-body">
				<center><b>Cocaine</b></center>
			</div>
		</div>		

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">What is the meaning of Superman's Kryptonian glyph?</h5>
			</div>
			<div class="panel-body">
				<center><b>Hope</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Comic Sans is based off the lettering in which comic?</h5>
			</div>
			<div class="panel-body">
				<center><b>Watchmen</b></center>
			</div>
		</div>		

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Which state would Gotham be in, if it were a real city?</h5>
			</div>
			<div class="panel-body">
				<center><b>New Jersey</b></center>
			</div>
		</div>	

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Why is it so difficult to see though Clark Kent’s disguise?</h5>
			</div>
			<div class="panel-body">
				<center><b>His glasses give him a passive hypnosis ability</b></center>
			</div>
		</div>	

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Which of the Justice League members can lift Mjolnir?</h5>
			</div>
			<div class="panel-body">
				<center><b>Superman</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-info">
			<div class="panel-heading">
				<h5 class="panel-title text-center">How many different Batcaves does Batman have?</h5>
			</div>
			<div class="panel-body">
				<center><b>Eight</b></center>
			</div>
		</div>
	&nbsp;
	<div style="text-align: center;">
		<label type="button" class="btn btn-default">
			<a href = "#/index"><input style="display:none;" onclick = "resetVariables();">Back To Quiz Selection</a></input>
		</label>
	</div>
</div>
