<div class="container">
	<div class="well well-lg">
		<div class="page-header text-center">
			<h2>So you think you know comics? Prove it!</h2>
			<h4>Select a publisher below and see how you stack up.</h4>
		</div>
			<p class="text-center"><a href="#/MarvelPage">
				<img src="img/marvellogo.png" class="img-responsive" alt="Marvel" width="200" height="120px" onclick="resetVariables(); MarvelTime();">
			</a></p>
			<p class="text-center"><a href="#/DCPage">
				<img src="img/dclogo.png" class="img-responsive" alt="DC" width="200" height="120px" onclick="resetVariables(); DCTime();">
			</a></p>
		</div>
	</div>
</div>