<div class="well" style="background-color:rgba(205,0,0,0.9); !important">
	<center><h1 style="color:#FFFFFF">MARVEL Answers</h1></center>
		&nbsp;
		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Which movie was the first released for the Marvel Cinematic Universe?</h5>
			</div>
			<div class="panel-body">
				<center><b>Iron Man</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">What was being fought over in the Civil War?</h5>
			</div>
			<div class="panel-body">
				<center><b>Superhero Registration</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Hugh Jackman has played Wolverine in how many movies?</h5>
			</div>
			<div class="panel-body">
				<center><b>Seven</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">In <i>Runaways</i>, why did the kids run away from home?</h5>
			</div>
			<div class="panel-body">
				<center><b>They found out their parents are villians</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Which is a real Marvel superhero?</h5>
			</div>
			<div class="panel-body">
				<center><b>Arm-Fall-Off-Boy</b></center>
			</div>
		</div>		

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">The Hulk was originally what colour?</h5>
			</div>
			<div class="panel-body">
				<center><b>Grey</b></center>
			</div>
		</div>

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">What is the secret identity of Spider-Ham?</h5>
			</div>
			<div class="panel-body">
				<center><b>Peter Porker</b></center>
			</div>
		</div>		

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">In the 1610 universe, who killed Barack Obama?</h5>
			</div>
			<div class="panel-body">
				<center><b>A Child of Tomorrow</b></center>
			</div>
		</div>	

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">Who is Johnny Storm's best friend?</h5>
			</div>
			<div class="panel-body">
				<center><b>Bobby Drake</b></center>
			</div>
		</div>	

		<div style="margin:20px;" class="panel panel-danger">
			<div class="panel-heading">
				<h5 class="panel-title text-center">What does SHIELD stand for?</h5>
			</div>
			<div class="panel-body">
				<center><b>Strategic Hazard Intervention Espionage Logistics Directorate</b></center>
			</div>
		</div>
	&nbsp;
	<div style="text-align: center;">
		<label type="button" class="btn btn-default">
			<a href = "#/index" style="color:red !important;"><input style="display:none;" onclick = "resetVariables();">Back To Quiz Selection</a></input>
		</label>
	</div>
</div>
