<div class="container">	
	<div class="well" style="background-color:rgba(10,70,125,0.9); !important">
		<center><h1 style="color:#FFFFFF">DC Quiz</h1></center>

	<div id = "1" class="well">
		<h4 class="text-center"><em>Which is a real DC superhero?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="A" style="display:none;" onclick = "store(value); numberForward();">Atom-Eater Lad
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="B" style="display:none;" onclick = "store(value); numberForward()">Morning Girl
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="C" style="display:none;" onclick = "store(value); numberForward()">Arm-Fall-Off-Boy 
			</label>
		&nbsp;
	</div>

	<div id = "2" class="well" style= "display:none">
		<h4 class="text-center"><em>Originally Superman was depicted as a:</em><br></h4>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="A" style="display:none;" onclick = "store(value); numberForward()"> Bald Megalomaniac
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="B" style="display:none;" onclick = "store(value); numberForward()"> Blond Waif
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="C" style="display:none;" onclick = "store(value); numberForward()"> Radioactive Alien
			</label>
	</div>

	<div id = "3" class="well" style= "display:none">
		<h4 class="text-center"><em>Bruce Wayne's IQ is:</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="A" style="display:none;" onclick = "store(value); numberForward()"> Average (Above 100)
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="B" style="display:none;" onclick = "store(value); numberForward()"> 
				Above Albert Einstein (Over 180)
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="C" style="display:none;" onclick = "store(value); numberForward()"> 
				Abysmal (Below 90)
			</label>
		&nbsp;
	</div>

	<div id = "4" class="well" style= "display:none">
		<h4 class="text-center"><em>Supervillain Snowflame gets his superpowers from what?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="A" style="display:none;" onclick = "store(value); numberForward()"> Snow
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="B" style="display:none;" onclick = "store(value); numberForward()"> Flame
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="C" style="display:none;" onclick = "store(value); numberForward()">  Cocaine
			</label>
		&nbsp;
	</div>
	
	<div id = "5" class="well" style= "display:none">
		<h4 class="text-center"><em>What is the meaning of Superman's Kryptonian glyph?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="A" style="display:none;" onclick = "store(value); numberForward()"> Hope
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="B" style="display:none;" onclick = "store(value); numberForward()"> Strength
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="C" style="display:none;" onclick = "store(value); numberForward()">
				Love
			</label>
		&nbsp;
	</div>

	<div id = "6" class="well" style= "display:none">
		<h4 class="text-center"><em>Comic Sans is based off the lettering in which comic?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="A" style="display:none;" onclick = "store(value); numberForward()"> Watchmen
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="B" style="display:none;" onclick = "store(value); numberForward()"> The Losers
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="C" style="display:none;" onclick = "store(value); numberForward()"> Teen Titans
			</label>
		&nbsp;
	</div>

	<div id = "7" class="well" style= "display:none">
		<h4 class="text-center"><em>Which state would Gotham be in, if it were a real city?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="A" style="display:none;" onclick = "store(value); numberForward()"> New York
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="B" style="display:none;" onclick = "store(value); numberForward()"> New Jersey
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="C" style="display:none;" onclick = "store(value); numberForward()">New Mexico
			</label>
		&nbsp;
	</div>

	<div id = "8" class="well" style= "display:none">
		<h4 class="text-center"><em>Why is it so difficult to see through Clark Kent's disguise?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="A" style="display:none;" onclick = "store(value); numberForward()"> 
				He compresses his bones to appear thinner
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="B" style="display:none;" onclick = "store(value); numberForward()"> He uses x-rays to create a distortion field
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="C" style="display:none;" onclick = "store(value); numberForward()">  His glasses give him a passive hypnosis ability
			</label>
		&nbsp;
	</div>

	<div id = "9" class="well" style= "display:none">
		<h4 class="text-center"><em>Which of the Justice League memberes can lift Mjolnir?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="A" style="display:none;" onclick = "store(value); numberForward()"> Superman
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="B" style="display:none;" onclick = "store(value); numberForward()">Wonder Woman
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="C" style="display:none;" onclick = "store(value); numberForward()"> The Flash
			</label>
		&nbsp;
	</div>
	
	<div id = "10" class="well" style= "display:none">
		<h4 class="text-center"><em>How many Batcaves does Batman own?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="A" style="display:none;" onclick = "store(value); numberForward()"> Six
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="B" style="display:none;" onclick = "store(value); numberForward()">  Thirteen
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="C" style="display:none;" onclick = "store(value); numberForward()">Eight
			</label>
		&nbsp;
	</div>

	<div id = "11" class="well" style= "display:none">
		<h3 id = "results" class="text-center"><em></em></h3>
		&nbsp;
		<label type="button" class="btn btn-default btn-block">
			<a href = "#/DCAnswers"><input style="display:none;" onclick = "resetVariables();">View Answers</a></input>
		</label>
		<label type="button" class="btn btn-default btn-block">
			<a href = "#/index"><input style="display:none;" onclick = "resetVariables();">Back To Quiz Selection</a></input>
		</label>
		&nbsp;
	</div>

	<div class="progress">
		<div id = "bar" class="progress-bar" role="progressbar" aria-valuenow="{{barValue}}" aria-valuemin="0" aria-valuemax="100">
	</div>

	</div>
</div>

<p id = "test"></p>
