
<div class="container">	
	<div class="well" style="background-color:rgba(205,0,0,0.9); !important">
		<center><h1 style="color:#FFFFFF">MARVEL Quiz</h1></center>

	<div id = "1" class="well">
		<h4 class="text-center"><em>Which movie was the first released for the Marvel Cinematic Universe?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="A" style="display:none;" onclick = "store(value); numberForward();">The Incredible Hulk
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="B" style="display:none;" onclick = "store(value); numberForward()">Iron Man
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="C" style="display:none;" onclick = "store(value); numberForward()">Captain America
			</label>
		&nbsp;
	</div>

	<div id = "2" class="well" style= "display:none">
		<h4 class="text-center"><em>What was being fought over in the Civil War?</em><br></h4>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="A" style="display:none;" onclick = "store(value); numberForward()">Superhero Registration
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="B" style="display:none;" onclick = "store(value); numberForward()">The Infinity Gems
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="C" style="display:none;" onclick = "store(value); numberForward()">Control over America
			</label>
	</div>

	<div id = "3" class="well" style= "display:none">
		<h4 class="text-center"><em>Hugh Jackman has played Wolverine in how many movies?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="A" style="display:none;" onclick = "store(value); numberForward()">Five
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="B" style="display:none;" onclick = "store(value); numberForward()">Six
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="C" style="display:none;" onclick = "store(value); numberForward()">Seven
			</label>
		&nbsp;
	</div>

	<div id = "4" class="well" style= "display:none">
		<h4 class="text-center"><em>In the series Runaways, why did the kids run away from home?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="A" style="display:none;" onclick = "store(value); numberForward()">To join SHIELD
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="B" style="display:none;" onclick = "store(value); numberForward()">They committed a crime
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="C" style="display:none;" onclick = "store(value); numberForward()">They found out their parents are villains
			</label>
		&nbsp;
	</div>
	
	<div id = "5" class="well" style= "display:none">
		<h4 class="text-center"><em>Who is the only character to be a member of both the Justice League and the Avengers?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="A" style="display:none;" onclick = "store(value); numberForward()">Iron Man
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="B" style="display:none;" onclick = "store(value); numberForward()">Hawkeye
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="C" style="display:none;" onclick = "store(value); numberForward()">Black Widow
			</label>
		&nbsp;
	</div>

	<div id = "6" class="well" style= "display:none">
		<h4 class="text-center"><em>The Hulk was originally what color?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="A" style="display:none;" onclick = "store(value); numberForward()">Purple
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="B" style="display:none;" onclick = "store(value); numberForward()">Blue
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="C" style="display:none;" onclick = "store(value); numberForward()">Grey
			</label>
		&nbsp;
	</div>

	<div id = "7" class="well" style= "display:none">
		<h4 class="text-center"><em>What is the secret identity of Spider-Ham?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="A" style="display:none;" onclick = "store(value); numberForward()">Porker Parker
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="B" style="display:none;" onclick = "store(value); numberForward()">Peter Porker
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="C" style="display:none;" onclick = "store(value); numberForward()">Hamsome Jack
			</label>
		&nbsp;
	</div>

	<div id = "8" class="well" style= "display:none">
		<h4 class="text-center"><em>In the 1610 universe, who killed Barack Obama?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="A" style="display:none;" onclick = "store(value); numberForward()">A Member of the Brotherhood of Mutant Supremacy
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="B" style="display:none;" onclick = "store(value); numberForward()">A Child of Tommorow
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="C" style="display:none;" onclick = "store(value); numberForward()">A Super Soldier
			</label>
		&nbsp;
	</div>

	<div id = "9" class="well" style= "display:none">
		<h4 class="text-center"><em>Who is Johnny Storm’s best friend?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="A" style="display:none;" onclick = "store(value); numberForward()">Bobby Drake
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="B" style="display:none;" onclick = "store(value); numberForward()">Ben Grimm
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="C" style="display:none;" onclick = "store(value); numberForward()">Peter Parker
			</label>
		&nbsp;
	</div>
	
	<div id = "10" class="well" style= "display:none">
		<h4 class="text-center"><em>What does SHIELD stand for?</em></h4>
		&nbsp;
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="A" style="display:none;" onclick = "store(value); numberForward()">Super Human Intelligence Earth Local Defense
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="B" style="display:none;" onclick = "store(value); numberForward()">Systematic Hydra Interrogation Execution Database
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="C" style="display:none;" onclick = "store(value); numberForward()">Strategic Hazard Intervention Espionage Logistics Directorate
			</label>
		&nbsp;
	</div>

	<div id = "11" class="well" style= "display:none">
		<h3 id = "results" class="text-center"><em></em></h3>
		&nbsp;
		<label type="button" class="btn btn-default btn-block">
			<a href = "#/MarvelAnswers" style="color:red !important"><input style="display:none;" onclick = "resetVariables();">View Answers</a></input>
		</label>
		<label type="button" class="btn btn-default btn-block">
			<a href = "#/index" style="color:red !important"><input style="display:none;" onclick = "resetVariables();">Back To Quiz Selection</a></input>
		</label>
		&nbsp;
	</div>

	<div class="progress">
		<div id = "bar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{barValue}}" aria-valuemin="0" aria-valuemax="100">
	</div>

	</div>
</div>

<p id = "test"></p>
